
/* Colors: */
$babec6: #BABEC6;
$light-gray: #747984;
$dark-opacity: 10;
$light-opacity: 10;

/* Font/text values */
$font-family-muli: 'Muli', sans-serif;
$font-style-regular: Regular;
$font-size-14: 14px;
$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;

$character-spacing-0-35: 0.35px;
$line-spacing-18: 18px;

