@import "../../../assets/scss/config/divider.config.scss";
@import "../../../assets/scss/functions/global.scss";

.custom-divider {
  span {
    @each $name, $text-value in map-deep-get($divider-config, text) {
      #{$name}: $text-value;
    }

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 20px 0;
    grid-gap: 13.5px;
    position: relative;

    &::before,
    &::after {
      $border-color: map-deep-get($divider-config, border, color);
      $border-width: map-deep-get($divider-config, border, width);

      content: " ";
      display: block;
      border-bottom: $border-width $border-color;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
