@import '../../../../assets/scss/layout.config.scss';

.password {
  position: relative;

  .show-password {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);

    width: 73px;
    height: 30px;

    background: #e4e6eb;
    border: 0;
    border-radius: 15px;
    outline: none;

    cursor: pointer;
    font-size: 14px;
    letter-spacing: 0.35px;
    color: #393b41;

    font-family: $font-family-muli;
    font-style: $font-style-regular;
    
    &:hover {
      background: darken(#e4e6eb, $dark-opacity);
    }
  }
}
